.roadMap-container {
    width: 300px;  
    height: 60px;  
    position: relative;
    background-image: url('../../img/roadmap/RoadMap350By4.png');
}
@media screen and (max-width: 1082px) {
    
    
}