.game-mute-box {
    div {
        margin-left: 1.5625rem;
        width: 2.0625rem;
        height: 2.0625rem;
        cursor: pointer;

        &.mute {
            background: url('../../../img/header/mute.png') no-repeat center center/contain;
        }

        &.unmute {
            background: url('../../../img/header/unmute.png') no-repeat center center/contain;
        }
    }
}

