.game-footer-box {
    display: none;
    background-color: #1A1A20;
    box-shadow: -0.0625rem 0 0.8125rem rgba(0, 0, 0, 0.5);

    &.aniFooter,
    &.aniFooterAction {
        position: fixed;
        left: 0;
        width: 100%;
        z-index: 9999;
        transition: all 1s ease;
        padding: 0.5rem 0.8125rem;
    }

    &.aniFooter {
        bottom: -18.75rem;
        animation-name: anifooterout;
        animation-duration: 1s;
        animation-timing-function: ease;
    }

    &.aniFooterAction {
        bottom: 0px;
        animation-name: anifooterin;
        animation-duration: 1s;
        animation-timing-function: ease;
    }
}

