.game-view-wrap {
    height: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    overflow-x: hidden;

    user-select: none;
    /* 禁止用户选择文本 */
    -webkit-user-select: none;
    /* 针对 Safari */
    -moz-user-select: none;
    /* 针对 Firefox */
    -ms-user-select: none;

    .game-view-box {
        width: 120rem;
        height: 67.5rem;
        position: relative;
        overflow: hidden;
    }

}

@media screen and (max-width:1082px) {
    .game-view-wrap {
        .game-view-box {
            .game-content {
                height: 180px;
                background: url('../../img/games/h5-bg.png') no-repeat center center/cover;
            }
        }
    }
}

@media screen and (max-width: 933px) {
    .game-view-wrap {
        .game-view-box {
            .game-content {
                height: 100vh;
            }
        }
    }
}

@media screen and (max-width: 668px) {
    .game-view-wrap {
        .game-view-box {
            .game-content {
                height: 100vh;
            }
        }
    }
}

@media screen and (max-width:435px) {
    .game-view-wrap {
        .game-view-box {
            .game-content {
                height: 300px;
            }
        }
    }
}

@media screen and (max-width:415px) {
    .game-view-wrap {
        .game-view-box {
            .game-content {
                height: 45vh;
            }
        }
    }
}

@media screen and (max-width:376px) {
    .game-view-wrap {
        .game-view-box {
            .game-content {
                height: 37vh;
            }
        }
    }
}

@media screen and (max-width:361px) {
    .game-view-wrap {
        .game-view-box {
            .game-content {
                height: 35vh;
            }
        }
    }
}