.game-view-wrap {
    height: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    overflow-x: hidden;

    user-select: none;
    /* 禁止用户选择文本 */
    -webkit-user-select: none;
    /* 针对 Safari */
    -moz-user-select: none;
    /* 针对 Firefox */
    -ms-user-select: none;

    .game-view-box {
        width: 120rem;
        height: 67.5rem;
        position: relative;
        overflow: hidden;
    }

}

@media screen and (max-width: 67.625rem) {
    .game-view-wrap {
        .game-view-box {
            .game-content {
                height: 11.25rem;
                background: url('../../img/games/h5-bg.png') no-repeat center center/cover;
            }
        }
    }
}

@media screen and (max-width: 58.3125rem) {
    .game-view-wrap {
        .game-view-box {
            .game-content {
                height: 100vh;
            }
        }
    }
}

@media screen and (max-width: 41.75rem) {
    .game-view-wrap {
        .game-view-box {
            .game-content {
                height: 100vh;
            }
        }
    }
}

@media screen and (max-width:27.1875rem) {
    .game-view-wrap {
        .game-view-box {
            .game-content {
                height: 18.75rem;
            }
        }
    }
}

@media screen and (max-width:25.9375rem) {
    .game-view-wrap {
        .game-view-box {
            .game-content {
                height: 45vh;
            }
        }
    }
}

@media screen and (max-width: 23.5rem) {
    .game-view-wrap {
        .game-view-box {
            .game-content {
                height: 37vh;
            }
        }
    }
}

@media screen and (max-width:22.5625rem) {
    .game-view-wrap {
        .game-view-box {
            .game-content {
                height: 35vh;
            }
        }
    }
}