//@import url("https://fonts.googleapis.com/css2?family=Yuji+Boku&display=swap");

@keyframes initShow {

    0% {
        opacity: 0;;
        
    }

    100% {
        opacity: 1.0;
    }
}

.game-controls-block {
    /* Auto layout */
    display: flex;
    
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 0.75rem;
    position: absolute;
    width: 100%;
    height: 6rem;
    /*left: 47.5625rem;
    top: 62.1875rem;*/
    top: 13rem;
    animation: initShow 0.3s ease-out;


    .close_icon {
        display: flex;
        width: 1rem;
        height: 1rem;
        right: 0;
        position: absolute;
        cursor: pointer;
        background: url('../../../img/games/Vector.png')
    }

    .controlBtn {
        /* icon/chip */
        color: #afafaf;
        width: 4.5rem;
        height: 4.5rem;
        flex: none;
        order: 0;
        flex-grow: 0;
        position: relative;
        background-size: cover;
        background-position: center;
        border-radius: 4.5rem;
        border: 2px solid #575767;
        font-size: 1.0rem;
        text-align: center;
        line-height: 4.5rem;
        opacity: 1.0;
        transition: all 0.1s ease-out, border-color 0.1s linear, background-color 0.1s linear;
        transform-origin: center;
        transform-style: preserve-3d;
        transform: rotateX(-15deg);
        //font-family: "Yuji Boku", serif;

        &:hover {
            background-color: #292933;
            border-color: #FFFFFF;
            color: #FFFFFF;
            cursor: pointer;
            opacity: 1;
            font-size: 1.1rem;
            width: 5rem;
            height: 5rem;
            line-height: 5rem;
            transform: translateY(-0.5rem) perspective(25rem) rotateX(0deg);
            //    animation: controlBtnAni 2s linear infinite alternate; 
        }

        // div {
        //     position: absolute;
        //     left: 50%;
        //     transform: translateX(-50%);
        //     /* 字体大小，可以根据需要调整 */
        //     text-align: center;
        //     /* 文字居中，可选 */
        //     font-family: "Microsoft JhengHei";
        //     /*font-size: 1.09375rem;*/
        //     font-weight: 500;
        //     line-height: 1.28125rem;
        //     text-align: center;
        //     color: #FFFFFF;
        //     height: auto;
        //     top: 0.88875rem;
        // }
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;

    .game-chips-area {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        width: 100%;
        height: 100%;
        animation: initShow 0.3s ease-out;

        .game-chips-box {
            /* Auto layout */
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            padding: 0px;
            gap: 0.75rem;
            width: 32.5875rem;
            height: 3.416875rem;
            flex: 1 0 auto;
            margin-bottom: 1.875rem;

            div {
                /* icon/chip */

                width: 3.416875rem;
                height: 3.416875rem;
                /* Inside auto layout */
                flex: none;
                order: 0;
                flex-grow: 0;
                position: relative;
                background-size: cover;
                background-position: center;
                border-radius: 1.7084375rem;
                cursor: pointer;

                &.chips-1 {
                    background-image: url('../../../img/games/chips/chip-basic.png'), linear-gradient(180deg, #FB8F02 0%, #BE7000 100%);
                }

                &.chips-2 {
                    background-image: url('../../../img/games/chips/chip-basic.png'), linear-gradient(180deg, #F950A2 0%, #EA275D 100%);
                }

                &.chips-3 {
                    background-image: url('../../../img/games/chips/chip-basic.png'), linear-gradient(180deg, #17AAFF 0%, #625FFF 100%);
                }

                &.chips-4 {
                    background-image: url('../../../img/games/chips/chip-basic.png'), linear-gradient(180deg, #26FF7A 0%, #0B7453 100%);
                }

                &.chips-5 {
                    background-image: url('../../../img/games/chips/chip-basic.png'), linear-gradient(180deg, #7128EA 0%, #702449 100%);
                }

                &.chips-6 {
                    background-image: url('../../../img/games/chips/chip-basic.png'), linear-gradient(180deg, #44C8C0 0%, #339F6A 100%);
                }

                &.chips-7 {
                    background-image: url('../../../img/games/chips/chip-basic.png'), linear-gradient(180deg, #72FB0C 0%, #87BA2F 100%);
                }

                &.chips-8 {
                    background-image: url('../../../img/games/chips/chip-basic.png'), linear-gradient(180deg, #FF5B53 0%, #EA311D 100%);
                }

                &.act {

                    &::before {
                        content: '';
                        background: url('../../../img/games/chips/border.png') no-repeat center center / cover;
                        display: block;
                        width: 4.125rem;
                        height: 4.125rem;
                        border-radius: 4.125rem;
                        position: absolute;
                        left: 0;
                        top: 0;
                        transform: translate(-9%, -9%);
                    }
                }

                div {
                    position: absolute;
                    top: 0.88875rem;
                    left: 50%;
                    transform: translateX(-50%);
                    /* 字体大小，可以根据需要调整 */
                    text-align: center;
                    /* 文字居中，可选 */
                    font-size: 1.09375rem;
                    font-weight: 500;
                    line-height: 1.28125rem;
                    text-align: center;
                    color: #FFFFFF;
                    height: auto;
                    cursor: pointer;
                }
            }
        }
    }

    .divAddChip {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 28rem;
        height: 13.43rem;
        border-radius: 6px;
        padding: 16px 15px 16px 15px;
        gap: 16px;           
        background: rgb(21 21 23 / 90%);
        border: 1px solid rgb(122 122 122 / 40%);;
        animation: initShow 0.3s ease-out;
    }

    .divAddChip .title {
        height: 1.375rem;
        padding: 2rem;
        font-family: Roboto;
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 16.41px;
        text-align: center;
        color: #FFFFFF;
    }

    .divAddChip .value {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 6px;
        width: 100%;
        height: 3rem;
    }

    .divAddChip .value .v1 {
        display: flex;
        align-items: center;
        padding: 2px 22px 2px 8px;
        gap: 6px;
        width: 100%;
        height: 100%;
        background: rgba(73, 73, 73, 0.4);
        border: 1px solid #46465B;
        border-radius: 50px;
    }

    .divAddChip .value .v1 .v11 {
        text-align: center;
        width: 100%;
        color: #FFFFFF;
    }

    .divAddChip .divBtn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding-top: 1.5rem;
        gap: 1rem;
        width: 100%;
        height: 40px;
        flex: none;
        order: 3;
        flex-grow: 0;
    }

    .divAddChip .divBtn .btn {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 6.8rem;
        height: 2.5rem;
        background: rgba(73, 73, 73, 0.4);
        border: 0.0625rem solid #46465B;
        border-radius: 1.3125rem;
        font-size: 1rem;
        line-height: 2.5rem;
        color: #FFFFFF;
        cursor: pointer;
        transition: background-color 0.3s ease-out;
        &:hover{
            background: rgba(109, 109, 109, 0.9);
        }
    }
}
