.default-vedio-box {
    width: 95%;
    height: 28vh;
    overflow: hidden;
    margin: 1.1rem auto 0;
    border-radius: 1rem;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}



@media screen and (max-width: 67.625rem) {
    .default-vedio-box {
        height: 13.75rem;
    }
}