@keyframes slideIn {
    from {
      transform: translateY(-110%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slideOut {
    from {
      transform: translateY(0);
      opacity: 1.0;
    }
    to {
      transform: translateY(-110%);
      opacity: 0;
    }
  }


.gameSetList-box {
    position: relative;

    .gameSetList-box-content {
        min-width: 240px;
        background: rgba(0, 0, 0, 0.6);
        height: 40px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        align-content: center;

        .gameSetList-box-icon {
            background: url('../../../img/header/gameSetList.png') no-repeat center center/contain;
            margin: 0 4px 0 10px;
            width: 18px;
            height: 18px;
            cursor: pointer;
            transition: filter 0.3s;
            /* 添加過渡效果 */
        }

        .gameSetList-box-title {
            height: 40px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 40px;
            font-size: 14px;
            flex: 1 0 0;
            border-right: 1px solid rgb(141 141 159 / 40%);
            padding-right: 5px;
            box-sizing: border-box;
            color: #8d8d9f;
            font-weight: bold;
        }

        .gameSetList-box-icon-arrow {
            //background: url('../../../img/header/list_arrow.png') no-repeat center center/contain;
            background: url('../../../img/header/list_arrow_2.png') no-repeat center center/contain;
            margin: 2px 6px 0 6px;
            width: 26px;
            height: 26px;
            cursor: pointer;
            transition: filter 0.3s;
            /* 添加過渡效果 */
        }

        &:hover {
            filter: brightness(1.5);
        }
    }

    .gameSetList-box-options {
        position: absolute;
        width: 240px;
        background: rgba(0, 0, 0, 0.6);
        margin: 5px 0px;
        padding: 10px 0px;
        border-radius: 20px;
        transition: all 0.5s ease-out;
        font-size: 14px;
        color: #8d8d9f;
        animation: slideIn 0.4s ease forwards;
        
        &.hide{
            animation: slideOut 0.4s ease forwards;
        }


        .gameSetList-box-options-header {
            text-align: center;
            margin-bottom: 10px;
            padding-bottom: 5px;
            font-size: 16px;
            /* filter: brightness(1.5); */
            color: #ffffff;
            box-shadow: 0 4px 6px rgb(88 88 88 / 40%);
        }

        .gameSetList-box-options-footer {
            text-align: center;

            .gameSetList-box-options-close {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                padding: 5px 15px;
                margin: 6px 0px 3px 0px;
                border-radius: 20px;
                background: rgba(0, 0, 0, 0.5);
                box-shadow: 0px 0px 1px 1px rgb(72 72 72 / 80%);
                transition: all 0.1s ease-out;

                i {
                    margin-right: 5px;
                    width: 10px;
                    height: 10px;
                    background: url('../../../img/header/Vector.png') no-repeat center center/contain;
                }

                &:hover {
                    filter: brightness(1.5);
                    box-shadow: 0px 0px 2px 2px rgb(126 126 126 / 80%);
                    background: rgb(47 47 47 / 50%);
                }
            }
        }

        .gameSetList-box-option {
            height: 24px;
            line-height: 24px;
            padding: 5px 0px;
            padding-left: 10px;
            display: flex;
            align-items: center;
            flex-direction: row;
            transition: all 0.1s ease-out;

            .gameSetList-box-no {
                width: 14px;
                height: 24px;
                cursor: pointer;

                line-height: 24px;
                text-align: end;
                /* 添加過渡效果 */
            }

            .gameSetList-box-title {
                height: 24px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: 24px;
                flex: 1 0 0;
                padding-left: 5px;
                box-sizing: border-box;
                margin: 5px 0px;
                font-weight: bold;
                margin-right: 20px;
            }

            &:hover {
                font-size: 16px;
                box-shadow: inset 0px 0px 10px 5px rgb(41 41 41);
                filter: brightness(1.5);
            }
        }
    }
}