@keyframes slideIn {
    from {
        transform: translateY(-110%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateY(0);
        opacity: 1.0;
    }

    to {
        transform: translateY(-110%);
        opacity: 0;
    }
}

@keyframes rotate{
    0%{
        transform: rotateZ(0deg);
    }
    5%{
        transform: rotateZ(20deg);
    }
    10%{
        transform: rotateZ(0deg);
    }
    15%{
        transform: rotateZ(-20deg);
    }
    20%{
        transform: rotateZ(0deg);
    }    

    25%{
        transform: rotateZ(20deg);
    }
    30%{
        transform: rotateZ(0deg);
    }
    35%{
        transform: rotateZ(-20deg);
    }
    40%{
        transform: rotateZ(0deg);
    }    


    100%{
        transform: rotateZ(0deg);
    }    
}


.gameSetList-box {
    position: relative;
    margin-right: 1.25rem;
    .gameSetList-box-content {
        min-width: 12.5rem;
        background: rgba(0, 0, 0, 0.6);
        height: 2.5rem;
        border-radius: 1.25rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        align-content: center;
        backdrop-filter: blur(0.625rem);

        .gameSetList-box-icon {
            background: url('../../../img/header/gameSetList.png') no-repeat center center/contain;
            margin: 0 0.25rem 0 0.625rem;
            width: 1.125rem;
            height: 1.125rem;
            cursor: pointer;
            transition: filter 0.3s;
            /* 添加過渡效果 */
            position: relative;

            &.new{               
                animation: rotate 2.5s linear infinite;
            }

            &.new::before {
                content: "";
                position: absolute;
                top: -0.125rem;
                right: -0.0625rem;
                width: 0.5rem;
                height: 0.5rem;
                background-color: #fb3b3b;
                border-radius: 50%;
                /* 圓形 */
            }
        }

        .gameSetList-box-title {
            height: 2.5rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 2.5rem;
            font-size: 0.875rem;
            flex: 1 0 0;
            border-right: 0.0625rem solid rgb(141 141 159 / 40%);
            padding-right: 0.3125rem;
            box-sizing: border-box;
            color: #8d8d9f;
            font-weight: bold;
        }

        .gameSetList-box-icon-arrow {
            //background: url('../../../img/header/list_arrow.png') no-repeat center center/contain;
            background: url('../../../img/header/list_arrow_2.png') no-repeat center center/contain;
            margin: 0.125rem 0.375rem 0 0.375rem;
            width: 1.625rem;
            height: 1.625rem;
            cursor: pointer;
            transition: filter 0.3s;
            /* 添加過渡效果 */
        }

        &:hover {
            filter: brightness(1.5);
        }
    }

    .gameSetList-box-options {
        position: absolute;
        width: 100%;
        background: rgba(0, 0, 0, 0.6);
        margin: 0.3125rem 0px;
        padding: 0.625rem 0px;
        border-radius: 1.25rem;
        transition: all 0.5s ease-out;
        font-size: 0.875rem;
        color: #8d8d9f;
        animation: slideIn 0.4s ease forwards;
        backdrop-filter: blur(0.625rem);
        
        &.hide {
            animation: slideOut 0.4s ease forwards;
        }


        .gameSetList-box-options-header {
            text-align: center;
            margin-bottom: 0.625rem;
            padding-bottom: 0.3125rem;
            font-size: 1rem;
            /* filter: brightness(1.5); */
            color: #ffffff;
            box-shadow: 0px 0.0625rem 0px rgba(88, 88, 88, 0.4);
        }

        .gameSetList-box-options-footer {
            text-align: center;

            .gameSetList-box-options-close {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                padding: 0.3125rem 0.9375rem;
                margin: 0.375rem 0px 0.1875rem 0px;
                border-radius: 1.25rem;
                background: rgba(0, 0, 0, 0.5);
                box-shadow: 0px 0px 0.0625rem 0.0625rem rgb(72 72 72 / 80%);
                transition: all 0.1s ease-out;

                i {
                    margin-right: 0.3125rem;
                    width: 0.625rem;
                    height: 0.625rem;
                    background: url('../../../img/header/Vector.png') no-repeat center center/contain;
                }

                &:hover {
                    filter: brightness(1.5);
                    box-shadow: 0px 0px 0.125rem 0.125rem rgb(126 126 126 / 80%);
                    background: rgb(47 47 47 / 50%);
                }
            }
        }

        .gameSetList-box-option {
            height: 1.5rem;
            line-height: 1.5rem;
            padding: 0.3125rem 0px;
            padding-left: 0.625rem;
            display: flex;
            align-items: center;
            flex-direction: row;
            transition: all 0.1s ease-out;

            .gameSetList-box-no {
                width: 0.875rem;
                height: 1.5rem;
                cursor: pointer;
                font-weight: bold;
                line-height: 1.5rem;
                text-align: end;
                /* 添加過渡效果 */
            }

            .gameSetList-box-title {
                height: 1.5rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: 1.5rem;
                flex: 1 0 0;
                padding-left: 0.3125rem;
                box-sizing: border-box;
                margin: 0.3125rem 0px;
                font-weight: bold;
                margin-right: 1.25rem;
            }

            &:hover {
                font-size: 1rem;
                box-shadow: inset 0px 0px 0.625rem 0.3125rem rgb(41 41 41);
                filter: brightness(1.5);
            }
        }
    }
}