.introduction{
  text-align: left;

  .introduction-title {
    display: inline-block;
    width: auto;
    color: #9c8866;
    font-size: 1.125rem;
    font-weight: 900;
    margin: 1.25rem 0px 0.9375rem 1.25rem;
    border-bottom: 0.125rem solid #9c8866;
  }
  
  .introduction-content {
    color: white;
    font-size: 1rem;
    word-break: break-word;
    padding: 1.25rem;
  }
}

