@import url("https://fonts.googleapis.com/css2?family=Yuji+Boku&display=swap");

@keyframes collapsingKeyframes {
  0% {
    transform: translateZ(0) scale(1.0);
  }
  100% {    
    transform: perspective(25rem) rotateX(20deg) scale(0.9);
  }
}


@keyframes collapsingKeyframes-end {
   from {    
    transform: perspective(25rem) rotateX(20deg) scale(0.9);
  }
  to {
    transform: translateZ(0) scale(1.0);
  } 
}

#testbtn{
  position: absolute;
    top: 45rem;
    left: 34rem;
    z-index: 999;
}

html {
  font-size: 16px;
}

.container {
  width: 120rem;
  height: 67.5rem;
  position: relative;
  background:black;
}

.betArea {
  width: 45rem;
  height: 12.625rem;
  position: absolute;
  top: 47.6875rem;
  left: 39rem;
  transform-origin: center;
  transform-style: preserve-3d;
  animation: collapsingKeyframes-end 0.6s linear forwards;  
     
  svg.win{
    filter:url(#filter0_ii_1724_13078);
  }
    
  &.close {
        animation: collapsingKeyframes 0.6s linear forwards;
  }

  .svg-eve {
    transition: transform 0.6s ease;        
  }

  .svg-player-pair {
    width: 15rem;
    height: 100%;
    left: 0%;    
    top: 0;
    position: absolute;

    
    .svg-eve{
       transform-origin: left bottom;
    }
    .svg-eve:hover ~ defs {
      .svg-eve-fill {
        stop:first-child {
          stop-color: #001d48;
          stop-opacity: 100%; /* 改变渐变底色 */
        }
        stop:last-child {
          stop-color: #003f9f;
          stop-opacity: 0.9; /* * 改变渐变底色 */
        }
      }
      
      .svg-eve-border {
        stop:first-child {
          stop-color: #003380;
          stop-opacity: 100%; /* 改变渐变底色 */
        }
        stop:last-child {
          stop-color: #0F52B7;
          stop-opacity: 0.9; /* * 改变渐变底色 */
        }
      }
    }
  }

  .svg-banker-pair {
    width: 15rem;
    height: 100%;
    right: 0;    
    top: 0;
    position: absolute;

    .svg-eve{
       transform-origin: right bottom;
    }
    
    .svg-eve:hover ~ defs {
      .svg-eve-fill {
        stop:first-child {
          stop-color: #490000;
          stop-opacity: 100%; /* 改变渐变底色 */
        }
        stop:last-child {
          stop-color: #9e0000;
          stop-opacity: 0.9; /* * 改变渐变底色 */
        }
      }
      
      .svg-eve-border {
        stop:first-child {
          stop-color: #490000;
          stop-opacity: 100%; /* 改变渐变底色 */
        }
        stop:last-child {
          stop-color: #9e0000;
          stop-opacity: 0.9; /* * 改变渐变底色 */
        }
      }
    }
  }

  .svg-player {
    width: 18.25rem;
    height: 7.75rem;
    left: 4.25rem;
    top: 0;
    position: absolute;

    .svg-eve{
       transform-origin:70% top;
    }
    
    .svg-eve:hover ~ defs {
      .svg-eve-fill {
        stop:first-child {
          stop-color: #001d48;
          stop-opacity: 100%; /* 改变渐变底色 */
        }
        stop:last-child {
          stop-color: #003f9f;
          stop-opacity: 0.9; /* * 改变渐变底色 */
        }
      }
      
      .svg-eve-border {
        stop:first-child {
          stop-color: #003380;
          stop-opacity: 100%; /* 改变渐变底色 */
        }
        stop:last-child {
          stop-color: #0F52B7;
          stop-opacity: 0.9; /* * 改变渐变底色 */
        }
      }
    }
  }

  .svg-banker {
    width: 18.25rem;
    height: 7.75rem;
    right: 4.25rem;
    top: 0;
    position: absolute;

    .svg-eve{
       transform-origin:30% top;
    }
    
    .svg-eve:hover ~ defs {
      .svg-eve-fill {
        stop:first-child {
          stop-color: #490000;
          stop-opacity: 100%; /* 改变渐变底色 */
        }
        stop:last-child {
          stop-color: #9e0000;
          stop-opacity: 0.9; /* * 改变渐变底色 */
        }
      }
      
      .svg-eve-border {
        stop:first-child {
          stop-color: #490000;
          stop-opacity: 100%; /* 改变渐变底色 */
        }
        stop:last-child {
          stop-color: #9e0000;
          stop-opacity: 0.9; /* * 改变渐变底色 */
        }
      }
    }
  }

  .svg-tie {
    width: 25rem;
    height: 4.875rem;
    left:10.0625rem;
    bottom: 0;
    position: absolute;
 
    
    
    .svg-eve{
       transform-origin: bottom;
    }
    
    
    .svg-eve:hover ~ defs {
      .svg-eve-fill {
        stop:first-child {
          stop-color: #05331d;
          stop-opacity: 100%; /* 改变渐变底色 */
        }
        stop:last-child {
          stop-color: #008a48;
          stop-opacity: 0.9; /* * 改变渐变底色 */
        }
      }
      
      .svg-eve-border {
        stop:first-child {
          stop-color: #0B7453;
          stop-opacity: 100%; /* 改变渐变底色 */
        }
        stop:last-child {
          stop-color: #26FF7A;
          stop-opacity: 0.1; /* * 改变渐变底色 */
        }
      }
    }
  }

  .betTextArea {
    width: 100%;
    height: 100%;
    position: relative;
    pointer-events: none;

    .bet-text {
      /* 庄 */
      position: absolute;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      height: 2.6875rem;

      &.bet-text-banker {
        right: 9rem;
        top: 0.875rem;
        transform: translateX(50%);
      }

      &.bet-text-player {
        left: 9rem;
        top: 0.875rem;
        transform: translateX(-50%);
      }

      &.bet-text-banker-pair {
        right: 6.15625rem;
        top: 9.375rem;
        transform: translateX(50%);
      }

      &.bet-text-player-pair {
        left: 6.15625rem;
        top: 9.375rem;
        transform: translateX(-50%);
      }

      &.bet-text-tie {
        left: 22.5rem;
        top: 9.375rem;
        transform: translateX(-50%);
      }

      .bet-text-title {
        font-family: "Noto Sans TC";
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        color: #ffffff;
        letter-spacing: 0.04em;
        text-align: center;
        line-height: 25px;
      }

      .bet-text-num {
        /* 1:0.9 */

        font-family: "Noto Sans TC";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
        /* identical to box height, or 18px */
        text-align: center;
        letter-spacing: 0.04em;
        color: rgba(255, 255, 255, 0.2);
      }
    }
  }

  .betArea-bakText-banker {
    left: 23.4375rem;
    font-size: 4.375rem;
    top: 1.75rem;
    line-height: 100%;
    /* 庄 */

    font-family: "Yuji Boku", serif;
    font-weight: 400;
    font-style: normal;
    color: rgba(0, 0, 0, 0.15);
    position: absolute;
  }

  .betArea-bakText-player {
    right: 23.4375rem;
    font-size: 4.375rem;
    top: 1.75rem;
    line-height: 100%;
    /* 庄 */

    font-family: "Yuji Boku", serif;
    font-weight: 400;
    font-style: normal;
    color: rgba(0, 0, 0, 0.15);
    position: absolute;
  }
}
