.game-screen-box {
    // padding: 30px 20px;
    margin-left: 1.5625rem;

    span {
        display: block;
    }

    .fullscreen,
    .exitfullscreen {
        margin-right: 0.25rem !important;
        width: 2.0625rem;
        height: 2.0625rem;
        cursor: pointer;
    }

    .fullscreen {
        background: url("../../../img/header/fullscreen.png") no-repeat center center/contain;

        &+span {
            color: #fff;
            font-size: 1.4rem;
            margin-left: 3px;
        }
    }

    .exitfullscreen {
        background: url("../../../img/header/exitfullscreen.png") no-repeat center center/contain;

        &+span {
            color: #fff;
            font-size: 1.4rem;
            margin-left: 3px;
        }
    }

}


