.game-footer-area {
    position: absolute;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9) 6.25rem, black 6.25rem);
    height: 19.8125rem;
    left: 0;
    bottom: 0;
    animation-name: anigamefooterareain;
    animation-duration: 1s;
    animation-timing-function: ease;
    z-index: 2;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: row;

    .left-box {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 38.75rem;
        box-sizing: border-box;
        padding-left: 0.625rem;
        gap: 1.25rem;
        padding-right: 0.625rem;

        .box-area {
            flex: 1 0 auto;
        }
    }

    .right-box {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 35.625rem;
        box-sizing: border-box;
        padding-right: 1.875rem;        
        gap: 1.25rem;

    }

    .middle-box {
        width: 45.625rem;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
    }
}

@keyframes anigamefooterareain {
    0% {
        bottom: -18.75rem;
    }

    100% {
        bottom: 0;
    }
}


// @media screen and (max-width:45.5625rem) and (min-width: 20.1875rem) {
//     .game-footer-area {
//         background: rgba(0, 0, 0, 0);

//         .game-footer-area-box {

//             .left-box,
//             .right-box {
//                 width: auto;
//             }

//             .middle-box {
//                 width: 31.375rem;

//                 .game-box-straight {
//                     position: relative;

//                     span.cancel,
//                     span.double {
//                         display: block;
//                         position: absolute;
//                         color: #8D8D9F;
//                         font-size: 1rem;
//                         top: auto;
//                         bottom: 6rem;

//                     }

//                     span.cancel {
//                         left: -5.2rem;

//                         &::after {
//                             content: '';
//                             display: block;
//                             width: 1.875rem;
//                             height: 1.875rem;
//                             position: absolute;
//                             top: -0.5rem;
//                             background: url('../../img/games/cancel.png') no-repeat center center/contain;
//                             right: -2.5rem;
//                         }
//                     }

//                     span.double {
//                         right: -4.9rem;

//                         &::before {
//                             content: '';
//                             display: block;
//                             width: 1.875rem;
//                             height: 1.875rem;
//                             position: absolute;
//                             top: -0.5rem;
//                             background: url('../../img/games/double.png') no-repeat center center/contain;
//                             left: -2.3rem;
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }


// 橫版調整 start
// 符合寬640, 高360
// @media screen and (min-width:40rem) and (min-height: 22.5rem) {
// @media screen and (min-width:39.9375rem) and (max-width: 58.375rem) {
//     .game-footer-area {
//         .game-footer-area-box {

//             .left-box,
//             .right-box {
//                 display: none;
//             }

//             .middle-box {
//                 .game-box-straight {
//                     position: absolute;
//                     left: 0rem;
//                     top: 0vh;

//                     span.cancel,
//                     span.double {
//                         display: block;
//                     }

//                     span.cancel {
//                         left: 1.5rem;
//                         top: -15rem;

//                         &::after {
//                             top: 1.5rem;
//                             right: -0.1rem;
//                         }
//                     }

//                     span.double {
//                         right: 1.3rem;
//                         top: -4.3rem;

//                         &::before {
//                             top: -2.4rem;
//                             left: 0rem;
//                         }
//                     }


//                     .game-chips-box {
//                         div.show {
//                             bottom: auto;
//                             left: 1rem;
//                             top: 33.2vh;

//                             .default-click {
//                                 width: 2.8125rem;
//                                 height: 2.8125rem;
//                                 border-radius: 2.8125rem;

//                                 &::before {
//                                     width: 2.8125rem;
//                                     height: 2.8125rem;
//                                     border-radius: 2.8125rem;
//                                     bottom: -0.125rem;
//                                     left: -0.625rem;
//                                 }

//                                 &:after {
//                                     width: 2.8125rem;
//                                     height: 2.8125rem;
//                                     border-radius: 2.8125rem;
//                                     bottom: 2.8125rem;
//                                     left: -0.8125rem;
//                                 }
//                             }

//                             span {

//                                 width: 2.8125rem;
//                                 height: 2.8125rem;
//                                 border-radius: 2.8125rem;

//                                 &.chips-0 {
//                                     animation-name: animbheasechips0;
//                                     animation-duration: 1s;
//                                     animation-timing-function: ease;
//                                     left: 0rem;
//                                     bottom: 3.7rem;
//                                 }

//                                 @keyframes animbheasechips0 {
//                                     0% {
//                                         left: 0rem;
//                                         bottom: 10rem;
//                                         opacity: 0;
//                                         transform: rotate(0deg);
//                                     }

//                                     100% {
//                                         left: 0rem;
//                                         bottom: 3.7rem;
//                                         opacity: 1;
//                                         transform: rotate(180deg);
//                                     }
//                                 }

//                                 &.chips-1 {
//                                     animation-name: animbheasechips1;
//                                     animation-duration: 1s;
//                                     animation-timing-function: ease;
//                                     left: 0rem;
//                                     bottom: 3.7rem;

//                                 }

//                                 @keyframes animbheasechips1 {
//                                     0% {
//                                         left: 3.8rem;
//                                         bottom: 9.5rem;
//                                         opacity: 0;
//                                         transform: rotate(0deg);
//                                     }

//                                     100% {
//                                         left: 0rem;
//                                         bottom: 3.7rem;
//                                         opacity: 1;
//                                         transform: rotate(180deg);
//                                     }
//                                 }


//                                 &.chips-2 {
//                                     animation-name: animbheasechips2;
//                                     animation-duration: 1s;
//                                     animation-timing-function: ease;
//                                     left: 0rem;
//                                     bottom: 3.7rem;

//                                 }

//                                 @keyframes animbheasechips2 {
//                                     0% {
//                                         left: 7.3rem;
//                                         bottom: 7.5rem;
//                                         opacity: 0;
//                                         transform: rotate(0deg);
//                                     }

//                                     100% {
//                                         left: 0rem;
//                                         bottom: 3.7rem;
//                                         opacity: 1;
//                                         transform: rotate(180deg);
//                                     }
//                                 }

//                                 &.chips-3 {
//                                     animation-name: animbheasechips3;
//                                     animation-duration: 1s;
//                                     animation-timing-function: ease;
//                                     left: 0rem;
//                                     bottom: 3.7rem;

//                                 }

//                                 @keyframes animbheasechips3 {
//                                     0% {
//                                         left: 8.9rem;
//                                         bottom: 4.2rem;
//                                         opacity: 0;
//                                         transform: rotate(0deg);
//                                     }

//                                     100% {
//                                         left: 0rem;
//                                         bottom: 3.7rem;
//                                         opacity: 1;
//                                         transform: rotate(180deg);
//                                     }
//                                 }

//                                 &.chips-4 {
//                                     animation-name: animbheasechips4;
//                                     animation-duration: 1s;
//                                     animation-timing-function: ease;
//                                     left: 0rem;
//                                     bottom: 3.7rem;

//                                 }

//                                 @keyframes animbheasechips4 {
//                                     0% {
//                                         left: 8.9rem;
//                                         bottom: -3.8rem;
//                                         opacity: 0;
//                                         transform: rotate(0deg);
//                                     }

//                                     100% {
//                                         left: 0rem;
//                                         bottom: 3.7rem;
//                                         opacity: 1;
//                                         transform: rotate(180deg);
//                                     }
//                                 }

//                                 &.chips-5 {
//                                     animation-name: animbheasechips5;
//                                     animation-duration: 1s;
//                                     animation-timing-function: ease;
//                                     left: 0rem;
//                                     bottom: 3.7rem;

//                                 }

//                                 @keyframes animbheasechips5 {
//                                     0% {
//                                         left: 7.3rem;
//                                         bottom: -7.5rem;
//                                         opacity: 0;
//                                         transform: rotate(0deg);
//                                     }

//                                     100% {
//                                         left: 0rem;
//                                         bottom: 3.7rem;
//                                         opacity: 1;
//                                         transform: rotate(180deg);
//                                     }
//                                 }

//                                 &.chips-6 {
//                                     animation-name: animbheasechips6;
//                                     animation-duration: 1s;
//                                     animation-timing-function: ease;
//                                     left: 0rem;
//                                     bottom: 3.7rem;

//                                 }

//                                 @keyframes animbheasechips6 {
//                                     0% {
//                                         left: 3.8rem;
//                                         bottom: -9.5rem;
//                                         opacity: 0;
//                                         transform: rotate(0deg);
//                                     }

//                                     100% {
//                                         left: 0rem;
//                                         bottom: 3.7rem;
//                                         opacity: 1;
//                                         transform: rotate(180deg);
//                                     }
//                                 }

//                                 &.chips-7 {
//                                     animation-name: animbheasechips7;
//                                     animation-duration: 1s;
//                                     animation-timing-function: ease;
//                                     left: 0rem;
//                                     bottom: 3.7rem;
//                                 }

//                                 @keyframes animbheasechips7 {
//                                     0% {
//                                         left: 0rem;
//                                         bottom: -10rem;
//                                         opacity: 0;
//                                         transform: rotate(0deg);
//                                     }

//                                     100% {
//                                         left: 0rem;
//                                         bottom: 3.7rem;
//                                         opacity: 1;
//                                         transform: rotate(180deg);
//                                     }
//                                 }

//                             }

//                         }

//                         div.none {
//                             bottom: 13.8rem;
//                             left: 1rem;

//                             .default-click {
//                                 width: 2.8125rem;
//                                 height: 2.8125rem;
//                                 border-radius: 2.8125rem;

//                                 &::before {
//                                     width: 2.8125rem;
//                                     height: 2.8125rem;
//                                     border-radius: 2.8125rem;
//                                     bottom: -0.125rem;
//                                     left: -0.625rem;
//                                 }

//                                 &:after {
//                                     width: 2.8125rem;
//                                     height: 2.8125rem;
//                                     border-radius: 2.8125rem;
//                                     bottom: 2.8125rem;
//                                     left: -0.8125rem;
//                                 }

//                                 &::before {
//                                     width: 3.25rem;
//                                     height: 3.25rem;
//                                     border-radius: 3.25rem;
//                                     left: 0.0625rem;
//                                     top: 0.0625rem;
//                                     ;
//                                 }
//                             }

//                             span {
//                                 width: 2.8125rem;
//                                 height: 2.8125rem;

//                                 &.chips-0 {
//                                     animation-name: animbhchips0;
//                                     animation-duration: 1s;
//                                     animation-timing-function: ease;
//                                     left: 0rem;
//                                     bottom: 8rem;
//                                 }

//                                 @keyframes animbhchips0 {
//                                     0% {
//                                         left: 0rem;
//                                         bottom: 0rem;
//                                         opacity: 0;
//                                         transform: rotate(-180deg);
//                                     }

//                                     100% {
//                                         left: 0rem;
//                                         bottom: 8rem;
//                                         opacity: 1;
//                                         transform: rotate(0deg);
//                                     }
//                                 }

//                                 &.chips-1 {
//                                     animation-name: animbhchips1;
//                                     animation-duration: 1s;
//                                     animation-timing-function: ease;
//                                     left: 3.8rem;
//                                     bottom: 7.5rem;

//                                 }

//                                 @keyframes animbhchips1 {
//                                     0% {
//                                         left: 0rem;
//                                         bottom: 0rem;
//                                         opacity: 0;
//                                         transform: rotate(-180deg);
//                                     }

//                                     100% {
//                                         left: 3.8rem;
//                                         bottom: 7.5rem;
//                                         opacity: 1;
//                                         transform: rotate(0deg);
//                                     }
//                                 }


//                                 &.chips-2 {
//                                     animation-name: animbhchips2;
//                                     animation-duration: 1s;
//                                     animation-timing-function: ease;
//                                     left: 7.3rem;
//                                     bottom: 5.5rem;

//                                 }

//                                 @keyframes animbhchips2 {
//                                     0% {
//                                         left: 0rem;
//                                         bottom: 0rem;
//                                         opacity: 0;
//                                         transform: rotate(-180deg);
//                                     }

//                                     100% {
//                                         left: 7.3rem;
//                                         bottom: 5.5rem;
//                                         opacity: 1;
//                                         transform: rotate(0deg);
//                                     }
//                                 }

//                                 &.chips-3 {
//                                     animation-name: animbhchips3;
//                                     animation-duration: 1s;
//                                     animation-timing-function: ease;
//                                     left: 8.9rem;
//                                     bottom: 2.2rem;

//                                 }

//                                 @keyframes animbhchips3 {
//                                     0% {
//                                         left: 0rem;
//                                         bottom: 0rem;
//                                         opacity: 0;
//                                         transform: rotate(-180deg);
//                                     }

//                                     100% {
//                                         left: 8.9rem;
//                                         bottom: 2.2rem;
//                                         opacity: 1;
//                                         transform: rotate(0deg);
//                                     }
//                                 }

//                                 &.chips-4 {
//                                     animation-name: animbhchips4;
//                                     animation-duration: 1s;
//                                     animation-timing-function: ease;
//                                     left: 8.9rem;
//                                     bottom: -1.8rem;

//                                 }

//                                 @keyframes animbhchips4 {
//                                     0% {
//                                         left: 0rem;
//                                         bottom: 0rem;
//                                         opacity: 0;
//                                         transform: rotate(-180deg);
//                                     }

//                                     100% {
//                                         left: 8.9rem;
//                                         bottom: -1.8rem;
//                                         opacity: 1;
//                                         transform: rotate(0deg);
//                                     }
//                                 }

//                                 &.chips-5 {
//                                     animation-name: animbhchips5;
//                                     animation-duration: 1s;
//                                     animation-timing-function: ease;
//                                     left: 7.3rem;
//                                     bottom: -5.5rem;

//                                 }

//                                 @keyframes animbhchips5 {
//                                     0% {
//                                         left: 0rem;
//                                         bottom: 0rem;
//                                         opacity: 0;
//                                         transform: rotate(-180deg);
//                                     }

//                                     100% {
//                                         left: 7.3rem;
//                                         bottom: -5.5rem;
//                                         opacity: 1;
//                                         transform: rotate(0deg);
//                                     }
//                                 }

//                                 &.chips-6 {
//                                     animation-name: animbhchips6;
//                                     animation-duration: 1s;
//                                     animation-timing-function: ease;
//                                     left: 3.8rem;
//                                     bottom: -7.5rem;

//                                 }

//                                 @keyframes animbhchips6 {
//                                     0% {
//                                         left: 0rem;
//                                         bottom: 0rem;
//                                         opacity: 0;
//                                         transform: rotate(-180deg);
//                                     }

//                                     100% {
//                                         left: 3.8rem;
//                                         bottom: -7.5rem;
//                                         opacity: 1;
//                                         transform: rotate(0deg);
//                                     }
//                                 }

//                                 &.chips-7 {
//                                     animation-name: animbhchips7;
//                                     animation-duration: 1s;
//                                     animation-timing-function: ease;
//                                     left: 0rem;
//                                     bottom: -8rem;
//                                 }

//                                 @keyframes animbhchips7 {
//                                     0% {
//                                         left: 0rem;
//                                         bottom: 0rem;
//                                         opacity: 0;
//                                         transform: rotate(-180deg);
//                                     }

//                                     100% {
//                                         left: 0rem;
//                                         bottom: -8rem;
//                                         opacity: 1;
//                                         transform: rotate(0deg);
//                                     }
//                                 }


//                             }

//                         }
//                     }

//                 }
//             }

//         }
//     }
// }

// 橫粄調整 end



// @media screen and (max-width:31.375rem) {
//     .game-footer-area-box {

//         .left-box,
//         .right-box {
//             width: auto;
//         }

//         .middle-box {
//             width: 26.5625rem;
//         }
//     }
// }

// @media screen and (max-width:26.5rem) {
//     .game-footer-area-box {

//         .left-box,
//         .right-box {
//             width: auto;
//         }

//         .middle-box {
//             width: 22.5rem;
//         }
//     }
// }

// @media screen and (max-width:22.5rem) {
//     .game-footer-area-box {

//         .left-box,
//         .right-box {
//             width: auto;
//         }

//         .middle-box {
//             width: 20.625rem;
//         }
//     }
// }

// @media screen and (max-width:21.25rem) {
//     .game-footer-area-box {

//         .left-box,
//         .right-box {
//             width: auto;
//         }

//         .middle-box {
//             width: 19rem;
//         }
//     }
// }

// @media screen and (max-width:20.125rem) {
//     .game-footer-area {
//         background: rgba(0, 0, 0, 0);

//         .game-footer-area-box {

//             .left-box,
//             .right-box {
//                 width: auto;
//             }

//             .middle-box {
//                 width: 31.375rem;

//                 .game-box-straight {
//                     position: relative;

//                     span.cancel,
//                     span.double {
//                         display: block;
//                         position: absolute;
//                         color: #8D8D9F;
//                         font-size: 0.9rem;
//                         top: auto;
//                         bottom: 6rem;
//                     }

//                     span.cancel {
//                         left: -4.9rem;

//                         &::after {
//                             content: '';
//                             display: block;
//                             width: 1.875rem;
//                             height: 1.875rem;
//                             background: url('../../img/games/cancel.png') no-repeat center center/contain;
//                             position: absolute;
//                             top: -0.5rem;
//                             right: -2.5rem;
//                         }
//                     }

//                     span.double {
//                         right: -4.7rem;

//                         &::before {
//                             content: '';
//                             display: block;
//                             width: 1.875rem;
//                             height: 1.875rem;
//                             position: absolute;
//                             background: url('../../img/games/double.png') no-repeat center center/contain;
//                             top: -0.5rem;
//                             left: -2.5rem;
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }