.betting-history-box {
    .betting-history {
        position: relative;
        width: 33px;
        height: 33px;
        cursor: pointer;
        margin-left: 15px;
        background: url('../../../img/header/bettinghistory.png') no-repeat center center/contain;

        .hover-box {
            position: fixed;
            right: -36rem;
            background: rgba(29, 29, 38, 0.8);
            // padding: 20px 35px;
            border-top-left-radius: 12px;
            border-bottom-left-radius: 12px;
            top: 6rem;
            box-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
            animation-name: anibettingout;
            animation-duration: 1s;
            animation-timing-function: ease;
            transition: all 1s ease;
            min-width: 450px;
            z-index: 8;
            visibility: hidden;
            
            .month-container{
                display: flex;
                justify-content: end;
                margin:0.3rem 2.2rem;
                button {
                    background: #46465B;
                    display: flex;
                    border: none;
                    font-size: 1rem;
                    color: #fff;
                    border-radius: 30px;
                    padding: 3px 10px;
                    margin-right: 10px;
                    cursor: pointer;
                    span{
                        margin: 0 2px;
                        font-weight: 800;
                        line-height: normal;
                        font-size: 13px;
                    }
                }
            }

            .flex-box {
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin: 10px;
                input{
                    margin-left: 5px;
                    max-width: 100px;
                    font-size: 13.5px;
                    color: #fff;
                    border-radius: 5px;
                    background-color: rgba(180, 180, 180, 0.199);
                    
                }
                input::-webkit-calendar-picker-indicator{
                    filter: invert(1);

                }
            }

            &.visible {
                right: 0rem;
                animation-name: anibettingin;
                animation-duration: 1s;
                animation-timing-function: ease;
                visibility: visible;
                cursor: auto;

            }

            @keyframes anisettingout {
                0% {
                    right: 0rem;
                }

                100% {
                    right: -30rem;
                }
            }


            @keyframes anisettingin {
                0% {
                    right: -30rem;
                }

                100% {
                    right: 0rem;
                }
            }

            .title {
                width: 80%;
                text-align: center;
                border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                padding: 20px 0 7px 0;
                margin: 0 auto;
            }

            .dis {
                font-size: 0.9rem;
                margin-top: 10px;
                margin: 0 auto;
                max-height: 150px;
                overflow-y: auto;

                table {
                    border-spacing: 1px;
                    width: 100%;

                    thead {
                        background: rgba(217, 217, 217, 0.05);

                        tr {
                            
                            th {
                                font-size: 14px;
                                padding: 8px 0px;
                            }
                        }
                    }

                    tbody {

                        tr {

                            td {
                                padding: 8px 3px;
                                text-align: center;
                                font-size: 12px;

                                &.detail {
                                    button {
                                        background: #46465B;
                                        border: none;
                                        font-size: 0.7rem;
                                        color: #fff;
                                        border-radius: 30px;
                                        padding: 2px 12px 5px;
                                        cursor: pointer;
                                    }
                                }
                            }

                            &:nth-child(even) {
                                background: rgba(217, 217, 217, 0.05);
                            }
                        }
                    }
                }
                .noData{
                    font-size: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 50px;
                }
            }

        }
    }
}