    .marquee-box {
        height: 2.5rem;
        line-height: 2.5rem;
        overflow: hidden;
        position: relative;

        .marquee {
            white-space: nowrap;
            position: absolute;
            color: #fff;
            display: flex;

            div {
                margin-left: 4rem;
            }
        }

        &:before {
            content: '';
            display: block;
            width: 4.8125rem;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 9;
            background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.01));
            -webkit-backdrop-filter: blur(0.0625rem);
            -moz-backdrop-filter: blur(0.0625rem);
            -ms-backdrop-filter: blur(0.0625rem);
            backdrop-filter: blur(0.0625rem);
        }

    }