.screen-box {
    // padding: 1.875rem 1.25rem;

    .flex-box {
        display: flex;
        justify-content: center;
        align-items: center;

        .fullscreen,
        .exitfullscreen {
            margin-right: 0.25rem !important;
            width: 2.375rem;
            height: 2.375rem;
            cursor: pointer;
        }

        .fullscreen {
            background: url("../../../img/header/fullscreen.png") no-repeat center center/contain;

            &+span {
                color: #fff;
                font-size: 1.4rem;
                margin-left: 0.1875rem;

                transition: filter 0.3s; /* 添加過渡效果 */

                &:hover { /* 滑鼠懸停時的樣式 */
                    filter: brightness(1.2); /* 使按鈕亮一點 */
                }
            }
        }

        .exitfullscreen {
            background: url("../../../img/header/exitfullscreen.png") no-repeat center center/contain;

            &+span {
                color: #fff;
                font-size: 1.4rem;
                margin-left: 0.1875rem;

                transition: filter 0.3s; /* 添加過渡效果 */

                &:hover { /* 滑鼠懸停時的樣式 */
                    filter: brightness(1.2); /* 使按鈕亮一點 */
                }
            }
        }
    }
}

// @media screen and (max-width: 67.625rem) {
//     .screen-box {

//         width: 90%;
//         margin: 0.625rem 0 0.625rem 1.5625rem;

//         .flex-box {

//             .fullscreen,
//             .exitfullscreen {
//                 width: 1.75rem;
//                 height: 1.75rem;
//             }

//             .fullscreen {
//                 &+span {
//                     font-size: 1rem;
//                 }
//             }

//             .exitfullscreen {
//                 &+span {
//                     font-size: 1rem;
//                 }
//             }
//         }
//     }
// }