.game-chips-area {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    height: 100%;

    .game-chips-box {
        /* Auto layout */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding: 0px;
        gap: 0.75rem;      
        width: 32.5875rem;
        height: 3.416875rem;
        flex: 1 0 auto;
        margin-bottom: 1.875rem;

        div {
            /* icon/chip */

            width: 3.416875rem;
            height: 3.416875rem;
            /* Inside auto layout */
            flex: none;
            order: 0;
            flex-grow: 0;
            position: relative;
            background-size: cover;
            background-position: center;
            border-radius: 1.7084375rem;
            cursor: pointer;

            &.chips-1 {
                background-image: url('../../../img/games/chips/chip-basic.png'), linear-gradient(180deg, #FB8F02 0%, #BE7000 100%);
            }

            &.chips-2 {
                background-image: url('../../../img/games/chips/chip-basic.png'), linear-gradient(180deg, #F950A2 0%, #EA275D 100%);
            }

            &.chips-3 {
                background-image: url('../../../img/games/chips/chip-basic.png'), linear-gradient(180deg, #17AAFF 0%, #625FFF 100%);
            }

            &.chips-4 {
                background-image: url('../../../img/games/chips/chip-basic.png'), linear-gradient(180deg, #26FF7A 0%, #0B7453 100%);
            }

            &.chips-5 {
                background-image: url('../../../img/games/chips/chip-basic.png'), linear-gradient(180deg, #7128EA 0%, #702449 100%);
            }

            &.chips-6 {
                background-image: url('../../../img/games/chips/chip-basic.png'), linear-gradient(180deg, #44C8C0 0%, #339F6A 100%);
            }

            &.chips-7 {
                background-image: url('../../../img/games/chips/chip-basic.png'), linear-gradient(180deg, #72FB0C 0%, #87BA2F 100%);
            }

            &.chips-8 {
                background-image: url('../../../img/games/chips/chip-basic.png'), linear-gradient(180deg, #FF5B53 0%, #EA311D 100%);
            }

            &.act {

                &::before {
                    content: '';
                    background: url('../../../img/games/chips/border.png') no-repeat center center / cover;
                    display: block;
                    width: 4.125rem;
                    height: 4.125rem;
                    border-radius: 4.125rem;
                    position: absolute;
                    left: 0;
                    top: 0;
                    transform: translate(-9%, -9%);
                }
            }

            div {
                position: absolute;
                top: 0.88875rem;
                left: 50%;
                transform: translateX(-50%);
                /* 字体大小，可以根据需要调整 */
                text-align: center;
                /* 文字居中，可选 */
                font-size: 1.09375rem;
                font-weight: 500;
                line-height: 1.28125rem;
                text-align: center;
                color: #FFFFFF;
                height: auto;
                cursor: pointer;
            }
        }
    }

    .cancel,
    .double,
    .confirm {
        color: #8D8D9F;
        font-size: 1.4rem;
        cursor: pointer;
        display: inline-flex;
        padding: 0.28125rem 0px;
        justify-content: center;
        align-items: center;
        margin-bottom: 1.0625rem;
        position: relative;
        opacity: 0;
        transition: opacity 0.5s ease-out;
        pointer-events: none;
        
        
        &::after {
            content: '';
            display: block;
            width: 2.5rem;
            height: 2.5rem;
            position: absolute;            
            /* top: -0.5rem;
           right: -3.2rem;*/
            top: -2.5rem;
            left: 50%;
            transform: translateX(-50%);
            background-color: rgba(41, 41, 51, 0.5);
            border: 0.03125rem solid rgba(255, 255, 255, 0.5);
            border-radius: 1.375rem;
            background-size: 1.625rem;
            background-position: center;
            background-repeat: no-repeat;
        }

        &:hover::after{
            background-color: rgba(141, 141, 159, 0.5);         
        }

        &:hover{
            color:rgba(255, 255, 255, 1);
        }
    }

    .cancel {
        margin-left: 1.375rem;
        &::after {
            background-image: url('/img/games/cancel.png');
        }
        &:hover::after {
            background-image: url('/img/games/cancel_light.png');
        }
    }
    
    .confirm {
    
        &::after {
    
            background-image: url('/img/games/confirm.png');
        }
        &:hover::after {
            background-image: url('/img/games/confirm_light.png');
        }
    }
    
    .double {
    
        margin-left: auto;
        &::after {
            content: 'X2';    
            font-size: 1.5rem;       
            text-align: center;
            line-height: 2.5rem;
            font-weight: 600;
            color: rgba(141, 141, 159, 0.70);
            
        }
        &:hover::after {
            color:rgba(255, 255, 255, 1);
        }
    }

    &.can-bet{
        .cancel,
        .double,
        .confirm {
           opacity: 1.0;
           pointer-events: initial;
           cursor: pointer;
        }
    }
}
