.game-betting-action {
    background: url('../../img/bettingaction/stop.png') no-repeat center center/contain;
    height: 4.875rem;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    transition: all 1s ease-out;
    width: 15.625rem;
    z-index: 3;

    &.betting {
        visibility: hidden;
        top: -30rem;
    }

    &.stop-betting {
        visibility: visible;
        top: 15rem;
    }
}

