.footer-box {
    display: none;
    background-color: #1d1d26;
    box-shadow: -0.0625rem 0 0.8125rem rgba(0, 0, 0, 0.5);

    &.aniFooter,
    &.aniFooterAction {
        position: fixed;
        left: 0;
        width: 100%;
        z-index: 9999;
        transition: all 1s ease;
        padding: 0.3125rem 0.625rem;
    }

    &.aniFooter {
        bottom: -18.75rem;
        animation-name: anifooterout;
        animation-duration: 1s;
        animation-timing-function: ease;
    }

    &.aniFooterAction {
        bottom: 0px;
        animation-name: anifooterin;
        animation-duration: 1s;
        animation-timing-function: ease;
    }
}


@media screen and (max-width: 67.625rem) {
    .footer-box {
        display: block;

        .user-wallet {
            color: #DBC165;
            position: relative;
            padding-left: 1.5625rem;

            &::before {
                content: '';
                display: block;
                width: 1.25rem;
                height: 1.25rem;
                position: absolute;
                left: -0.0625rem;
                top: 0px;
                background: url('../../img/header/wallet.png') no-repeat center center/contain;
            }
        }
    }

    @keyframes anifooterin {
        0% {
            bottom: -18.75rem;
        }

        100% {
            bottom: 0;
        }
    }


    @keyframes anifooterout {
        0% {
            bottom: 0;
        }

        100% {
            bottom: -18.75rem;
        }
    }
}