.game-reload-box {
    .game-reload {
        width: 2.0625rem;
        height: 2.0625rem;
        background: url('../../../img/games/reload.png') no-repeat center center/contain;
        cursor: pointer;
    }
}